@{
    ViewData["Title"] = "Home Page";
}

<div class="card-header text-center">
    <h1 class="display-5">Bienvenido a Control Horas Clientes </h1>
    <p>Hola <strong>@ViewData["NombreUsuario"]</strong> ¿Deseas realizar un nuevo registro?</p>
</div>
